.flex-center {
    padding-top: 300px;
  }

  ion-content {
    --background: var(--ion-color-primary-tint);
  }
  .btn{
    margin-top: 30px;
  }

  .btn2{
    padding-left: 130px;
  }

  .msg-erro {
    color: #ff0000;
    font-size: 10px;
    clear: both;
    position: relative;
  }

  img {
    width: 125px;
    margin-right: 60px;

  }


