<ion-header class="ion-no-border">
  <!--  -->
  <ion-toolbar color="primary">
    <ion-buttons slot="start" ion-float-right>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="/assets/logo.png"><br>
    </ion-title>
  </ion-toolbar>
    <!--  -->
  <ion-toolbar color="primary">
    <!-- <ion-text>{{dataAtual | date:'dd/MM/YY'}}</ion-text> -->
    <ion-title class="ion-text-center">
      <span> Sobre nós </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin" color="primary">
  <ion-card>
    <img src="/assets/logo.png"><br>
    <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies erat luctus quam auctor,
      vel dignissim odio porta. Maecenas sed massa quis justo rutrum pretium non vestibulum diam.
      Curabitur at molestie lacus. Pellentesque dapibus ante nec sem pellentesque auctor. Fusce porta
      pulvinar aliquet. Suspendisse a imperdiet eros. In hac habitasse platea dictumst. Sed mattis,
      eros non eleifend fermentum, nulla metus commodo sapien, vel posuere diam tortor vel diam. Sed
      sed fermentum tellus. Proin laoreet nisl tellus, non ultrices magna tincidunt in. Pellentesque nec
      vulputate nisl. Vivamus et blandit ipsum. Donec tempor ut neque vitae pharetra. Maecenas rhoncus,
      urna vitae tincidunt mattis, neque arcu tempus lacus, ut porta dolor nibh eu nisi. Cras laoreet erat
      tellus, id sagittis odio porttitor eu.<br>


    </p>
    <h5>
    Sigam-nos nas nossas redes sociais</h5><br>
   <div class="sobre">
    <ion-icon name="logo-facebook" background="none"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon>
    </div>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-margin ion-padding-vertical" color="primary">
    <div class="container ion-text-left">
      <ion-button routerLink="/home" size="small">
        <ion-icon slot="icon-only" name='wallet-outline'></ion-icon>
        <span> Home</span>
      </ion-button>

    </div>
  </ion-toolbar>
</ion-footer>
