.flex-center {
  padding-top: 70px;
}

ion-content {
  --background: var(--ion-color-primary-tint);
}
.btn1{
margin-top: 30px;
}

a{
  cursor: pointer;
text-decoration: none;
}
.reg{
  margin: 20px 0;
display: flex;
justify-content: center;
}
ion-header {
  ion-toolbar {
    ion-title {
      align-items: flex-end;

      img {
        width: 125px;
        margin-right: 60px;

      }
    }
  }
}

